<%- config[:constant_array].each_with_index do |c,i| -%>
<%= '  '*i %>module <%= c %>
<%- end -%>
  DEFAULT_ROOT_FOLDER = '..'
  DEFAULT_CONFIG_FILE = '../env.yaml'
  DEFAULT_DATABASE_URL = '..'
<%- (config[:constant_array].size-1).downto(0) do |i| -%>
<%= '  '*i %>end
<%- end -%>
