#!/usr/bin/env ruby

require "<%= config[:namespaced_path] %>"

command = ARGV.count > 0 ? ARGV[0].chomp.strip : ''

if command == "help" || command == "--help" || command == "-h"
  puts <%= config[:constant_name] %>.help
  return
end

puts <%= config[:constant_name] %>.main
